{% extends "layouts/auth.html" %}
{% block title %}Schimbă parola · dictare.ro{% endblock %}
{% block content %}
<h1>Schimbă parola</h1>
<p>Introdu parola actuală și alege una nouă.</p>
<form method="post" novalidate>
  {% csrf_token %}
  {% for field in form %}{% include "components/field.html" %}{% endfor %}
  <button class="btn btn--primary btn--lg btn--block" type="submit">Salvează</button>
</form>
<p class="auth__alt"><a href="{% url 'accounts:account' %}">Înapoi la cont</a></p>
{% endblock %}
